@charset "utf-8";

.grid {
    display: grid;
}

.grid-template-columns-1 {
    grid-template-columns: 100px 100px;
}

.grid-template-columns-2 {
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

.grid-template-columns-3 {
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-template-columns-4 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-5 {
    grid-template-columns: repeat(auto-fit, 100px);
}

/* Com o auto-fit realmente é criado um layout responsivo */
.grid-template-columns-6 {
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

/* Com o auto-fit realmente é criado um layout responsivo (Será mais utilizado)*/ 
.grid-template-columns-7 {
	grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}


.grid-item {
    background-color: tomato;
    text-align: center;
    border: 1px solid #ccc;
}