@charset "utf-8";

.grid-pure {
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
    padding: 10px;
}

/* Manipula a quantidade e o tamanho das colunas por pixels */
.grid-template-columns {
    grid-template-columns: 300px 200px;
}

.grid-template-columns-3 {
    grid-template-columns: 1fr 2fr 1fr;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.subgrid > div {
    background-color: tomato;
    border: 1px solid black;
}

.grid-item {
    background-color: azure;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
}