@charset "utf-8";

.grid {
    display: grid;
    background-color: azure;
    border: 1px solid #fff;
}

div {
    background: white;
    border: 1px solid #000;
}

.columns {
    grid-template-columns: 50px 100px 50px 150px;
    text-align: center;
}

.rows {
    grid-template-rows: 50px 100px 50px 150px;
}